@model IEnumerable<DoAn3.Models.Hoadonnhap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>      
<head>
    <title></title>
    <link href="~/Assets/admin/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-8 text-gray-800">Danh sách hóa đơn nhập</h1>
        <a href="/Admin/QLHoadonnhap/Create" class="btn btn-primary mb-2" style="color: white;background-color:#4e73df;border-color:#4e73df"><i class="fa fa-plus"></i>&nbsp; Thêm</a>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example" class="table table-bordered table-striped table-responsive" @*cellspacing="0"*@ @*role="grid"*@ @*aria-describedby="dataTable_info" style="width: 100%;"*@>
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting disabled" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 5%;">
                                                Mã HĐN
                                            </th>
                                            <th class="sorting " tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 10%;">
                                                Tên SP
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 10%;">
                                                Tên NCC
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 10%;">
                                                Tên NV
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 10%;">
                                                Số lượng
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 10%;">
                                                Giá nhập
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 15%;">
                                                Thành tiền
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 15%;">
                                                Ngày nhập
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 20%;">
                                                Tác vụ
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Count() > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr role="row" class="odd">
                                                    <td>@item.mahdn</td>
                                                    <td>@item.Dienthoai.tensp</td>
                                                    <td>@item.NhaCungCap.tenncc</td>
                                                    <td>@item.Ngdung.tennd</td>
                                                    <td>@item.soluong</td>
                                                    <td>@Html.FormatValue(item.gianhap, "{0:#,##0}")&#8363;</td>
                                                    <td>@Html.FormatValue(item.soluong * item.gianhap, "{0:#,##0}")&#8363;</td>
                                                    <td>@Html.FormatValue(item.NgayNhap, "{0:dd-MM-yyyy}")</td>
                                                    <td>
                                                        @Html.ActionLink("Sửa", "Edit", new { id = item.mahdn }, new { @class = "btn btn-info", @title = "Chỉnh sửa" })
                                                    
                                                        @Html.ActionLink("Chitiet", "Details", new { id = item.mahdn }, new { @class = "btn btn-success", @title = "Xem Chi Tiết" })
                                                        <br />
                                                        @Html.ActionLink("Xóa", "Delete", new { id = item.mahdn }, new { @class = "btn btn-danger", @title = "Xóa",@onclick="Xoa()" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script>
        function Xoa() {
            alert("Hãy cân nhắc trước khi xóa!")
        }
    </script>
</body>

</html>
