@model IEnumerable<DoAn3.Models.Donhang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Assets/admin/css/sb-admin-2.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-8 text-gray-800">Danh sách đơn hàng</h1>
        <a href="/Admin/QLDonhang/Create" class="btn btn-primary mb-2" style="color: white;background-color:#4e73df;border-color:#4e73df"><i class="fa fa-plus"></i>&nbsp; Thêm</a>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example" class="table table-bordered table-striped table-responsive" @*cellspacing="0"*@ @*role="grid"*@ @*aria-describedby="dataTable_info" style="width: 100%;"*@>
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 10%;">
                                                Ngày lập
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 10%;">
                                                Tổng tiền
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 10%;">
                                                Người mua
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 10%;">
                                                Địa chỉ KH
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 5%;">
                                                Địa chỉ GH
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 20%;">
                                                SDT KH
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 20%;">
                                                SDT Người Nhận
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 10%;">
                                                Trạng Thái ĐH
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 15%;">
                                                Tác vụ
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Count() > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr role="row" class="odd">
                                                    <td>@Html.FormatValue(item.ngaylap, "{0:dd-MM-yyyy}")</td>
                                                    <td>@Html.FormatValue(item.tongtien, "{0:#,##0}")&#8363;</td>
                                                    <td>@item.hovaten</td>
                                                    <td>@item.diachikhachhang</td>
                                                    <td>@item.diachigiaohang</td>
                                                    <td>@item.sodienthoaikhachhang</td>
                                                    <td>@item.sdtnguoinhan</td>
                                                    <td>@item.trangthaidonhang</td>
                                                    @*<td>@item.pin</td>*@
                                                    <td>
                                                        @Html.ActionLink("Sửa", "Edit", new { id = item.madh }, new { @class = "btn btn-info", @title = "Chỉnh sửa" })
                                                        <br /><br />
                                                        @Html.ActionLink("Chitiet", "Details", new { id = item.madh }, new { @class = "btn btn-success", @title = "Xem Chi Tiết" })
                                                        <br /><br />
                                                        @Html.ActionLink("Xóa", "Delete", new { id = item.madh }, new { @class = "btn btn-danger", @title = "Xóa", @onclick = "Xoa()" })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script>
        function Xoa() {
            alert("Hãy cân nhắc trước khi xóa?")
        }
    </script>
</body>

</html>
